<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Question category #<%= @question_category.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/question_categories" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/question_categories/<%= @question_category.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit question category
        </a>
      </div>

      <div class="col">
        <a href="/delete_question_category/<%= @question_category.id %>" class="btn btn-block btn-outline-secondary">
          Delete question category
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Question
      </dt>
      <dd>
        <% if @question_category.question.present? %>
          <a href="/questions/<%= @question_category.question_id %>">
            <%= @question_category.question.question %>
          </a>
        <% end %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <% if @question_category.category.present? %>
          <a href="/categories/<%= @question_category.category_id %>">
            <%= @question_category.category.category_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@question_category.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@question_category.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

