<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Reflexion question #<%= @reflexion_question.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/reflexion_questions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/reflexion_questions/<%= @reflexion_question.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit reflexion question
        </a>
      </div>

      <div class="col">
        <a href="/delete_reflexion_question/<%= @reflexion_question.id %>" class="btn btn-block btn-outline-secondary">
          Delete reflexion question
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Question
      </dt>
      <dd>
        <% if @reflexion_question.question.present? %>
          <a href="/questions/<%= @reflexion_question.question_id %>">
            <%= @reflexion_question.question.question %>
          </a>
        <% end %>
      </dd>

      <dt>
        Reflexion question
      </dt>
      <dd>
        <%= @reflexion_question.reflexion_question %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@reflexion_question.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@reflexion_question.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

