<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All user questions
    </h1>

    <a href="/user_questions/new" class="btn btn-block btn-outline-secondary">
      Add a new user question
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "user_question_templates/user_questions_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Question
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @user_questions.each do |user_question| %>
      <tr>
        <td>
          <%= user_question.id %>
        </td>

        <td>
          <% if user_question.user.present? %>
            <a href="/users/<%= user_question.user.id %>">
              <%= user_question.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <% if user_question.question.present? %>
            <a href="/questions/<%= user_question.question.id %>">
              <%= user_question.question.question %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(user_question.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(user_question.updated_at) %> ago
        </td>

        <td>
          <a href="/user_questions/<%= user_question.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @user_questions, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
