<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User question #<%= @user_question.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/user_questions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/user_questions/<%= @user_question.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit user question
        </a>
      </div>

      <div class="col">
        <a href="/delete_user_question/<%= @user_question.id %>" class="btn btn-block btn-outline-secondary">
          Delete user question
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @user_question.user.present? %>
          <a href="/users/<%= @user_question.user_id %>">
            <%= @user_question.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Question
      </dt>
      <dd>
        <% if @user_question.question.present? %>
          <a href="/questions/<%= @user_question.question_id %>">
            <%= @user_question.question.question %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@user_question.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@user_question.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

