<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Question #<%= @question.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/questions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link question start -->
      <div class="col">
        <a href="/questions/<%= @question.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit question
        </a>
      </div>
      <!-- Edit link question end -->

      <!-- Delete link question start -->
      <div class="col">
        <a href="/delete_question/<%= @question.id %>" class="btn btn-block btn-outline-secondary">
          Delete question
        </a>
      </div>
      <!-- Delete link question end -->
    </div>

    <dl>
      <dt>
        Question
      </dt>
      <!-- Display question start -->
      <dd>
        <%= @question.question %>
      </dd>
      <!-- Display question end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@question.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@question.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
