<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All question tips
    </h1>

    <a href="/question_tips/new" class="btn btn-block btn-outline-secondary">
      Add a new question tip
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "question_tip_templates/question_tips_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Question
        </th>

        <th>
          Content
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @question_tips.each do |question_tip| %>
      <tr>
        <td>
          <%= question_tip.id %>
        </td>

        <td>
          <% if question_tip.question.present? %>
            <a href="/questions/<%= question_tip.question.id %>">
              <%= question_tip.question.question %>
            </a>
          <% end %>
        </td>

        <td>
          <%= question_tip.content %>
        </td>

        <td>
          <%= time_ago_in_words(question_tip.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(question_tip.updated_at) %> ago
        </td>

        <td>
          <a href="/question_tips/<%= question_tip.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @question_tips, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
