<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Question tip #<%= @question_tip.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/question_tips" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link question_tip start -->
      <div class="col">
        <a href="/question_tips/<%= @question_tip.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit question tip
        </a>
      </div>
      <!-- Edit link question_tip end -->

      <!-- Delete link question_tip start -->
      <div class="col">
        <a href="/delete_question_tip/<%= @question_tip.id %>" class="btn btn-block btn-outline-secondary">
          Delete question tip
        </a>
      </div>
      <!-- Delete link question_tip end -->
    </div>

    <dl>
      <dt>
        Question
      </dt>
      <!-- Display question_id start -->
      <dd>
        <% if @question_tip.question.present? %>
          <a href="/questions/<%= @question_tip.question_id %>">
            <%= @question_tip.question.question %>
          </a>
        <% end %>
      </dd>
      <!-- Display question_id end -->

      <dt>
        Content
      </dt>
      <!-- Display content start -->
      <dd>
        <%= @question_tip.content %>
      </dd>
      <!-- Display content end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@question_tip.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@question_tip.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
