<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All evaluations
    </h1>

    <a href="/evaluations/new" class="btn btn-block btn-outline-secondary">
      Add a new evaluation
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "evaluation_templates/evaluations_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Rating
        </th>

        <th>
          Comment
        </th>

        <th>
          User question
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @evaluations.each do |evaluation| %>
      <tr>
        <td>
          <%= evaluation.id %>
        </td>

        <td>
          <%= evaluation.rating %>
        </td>

        <td>
          <%= evaluation.comment %>
        </td>

        <td>
          <% if evaluation.user_question.present? %>
            <a href="/user_questions/<%= evaluation.user_question.id %>">
              <%= evaluation.user_question.user_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(evaluation.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(evaluation.updated_at) %> ago
        </td>

        <td>
          <a href="/evaluations/<%= evaluation.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @evaluations, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
