<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Evaluation #<%= @evaluation.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/evaluations" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/evaluations/<%= @evaluation.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit evaluation
        </a>
      </div>

      <div class="col">
        <a href="/delete_evaluation/<%= @evaluation.id %>" class="btn btn-block btn-outline-secondary">
          Delete evaluation
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Rating
      </dt>
      <dd>
        <%= @evaluation.rating %>
      </dd>

      <dt>
        Comment
      </dt>
      <dd>
        <%= @evaluation.comment %>
      </dd>

      <dt>
        User question
      </dt>
      <dd>
        <% if @evaluation.user_question.present? %>
          <a href="/user_questions/<%= @evaluation.user_question_id %>">
            <%= @evaluation.user_question.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@evaluation.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@evaluation.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

